* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --blue-color: #1992D4;
    --gray-bg-color: #E2E8F0;
    --yellow-color: #F0B429;
    --gray-text-color: #818181;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1 4fr;
}

/* Initial content layout */

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

/* Sidebar */

.sidebar {
    background-color: var(--blue-color);
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 55px;
    font-size: 1.5rem;
}

.sidebar .logo-name {
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.sidebar .logo-name svg {
    height: 2.5rem;
    width: 2.5rem;
}

.sidebar path {
    fill: #FFFFFF;
}

.main-nav, .bottom-nav {
    font-weight: bold;
}

.main-nav svg, .bottom-nav svg {
    height: 1.5rem;
    width: 1.5rem;
}

.main-nav ul, .bottom-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar li, .logo-name {
    display: flex;
    gap: 10px;
}

li > div {
    width: 40px;
    text-align: center;
}

/* Header */
.header {
    padding: 20px 80px 20px 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    font-weight: bold;
    font-size: 1.3rem;
}

.header .top-header svg {
height: 1.8rem;
}

.top-header, .bottom-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form {
    display: flex;
    width: 50%;
    gap: 25px;
    align-items: center;
}

form input {
    width: 300%;
    background-color: var(--gray-bg-color);
    border: none;
    border-radius: 15px;
    height: 2rem;
}

.top-header-right-contents {
    display: flex;
    gap: 30px;
}

.bottom-header-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.bottom-header svg {
    height: 4.5rem;
}

.bottom-header-left-greeting div:first-child {
    font-size: 1rem;
}

.bottom-header-left-greeting div:nth-child(2) {
    font-size: 2rem;
}

.bottom-header-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header button {
    color: white;
    background-color: var(--blue-color);
    padding: 10px 25px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    font-size: 1.3rem;
}

/* Main */
.main {
    display: grid;
    grid-template-columns: 5fr 2fr;
    padding: 30px 15px;
    gap: 20px;
    background-color: var(--gray-bg-color);
    box-shadow: inset 0px 10px 7px -7px #bebebe;
}

.projects-title, .announcements-title, .trending-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.projects-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    padding: 40px 35px 25px 25px;
    background-color: white;
    border-radius: 10px;
    border-left: 10px solid var(--yellow-color);
}

.card svg {
    height: 1.8rem;
}

.card-title {
    font-size: 1.3rem;
    font-weight: bold;
}

.card-contents {
    margin-top: 5px;
    color: var(--gray-text-color);
    font-size: 1.1rem;
}

.card-links {
    margin-top: 40px;
    display: flex;
    justify-content: end;
    gap: 25px;
}

.main-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding-right: 30px;
}

.announcements-list {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 40px 40px 20px 40px;
}

.announcements-item {
    max-height: 8rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.announcements-item-title {
    font-weight: bold;
}

.announcements-item-content {
    font-size: 0.9rem;
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
           line-clamp: 3; 
   -webkit-box-orient: vertical;
   color: var(--gray-text-color);
   margin-bottom: 20px;
}

.announcements-item + .announcements-item {
    border-top: 1px solid #ababab;
    padding-top: 20px;
}

.trending {
    align-self: end;
}

.trending svg {
    height: 4rem;
}

.trending-list {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.trending-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.trending-item + .trending-item {
    margin-top: 20px;
}

.trending-item-user {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.trending-item-user div:nth-child(2) {
    color: var(--gray-text-color);
}






